<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.faramarz.tictacdev.cellcalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".AboutUsActivity"
            android:theme="@style/AboutusTheme">

        </activity>

        <activity
            android:name=".ListActivity"
            android:label="Cells History">

        </activity>

        <activity
            android:name=".Ic50Activity"
            android:label="IC50 Calculator">

        </activity>

        <activity
            android:name=".AnovaActivity"
            android:label="ANOVA Calculator" />

        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="Doubling Time Calculator" />


    </application>

</manifest>